* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.promo {
  height: 800px;
  background: url("../img/bg/main_bg.png") center center/cover no-repeat;
  padding: 38px 0 61px 0;
}

h1 {
  margin-top: 35px;
}

h2 {
  margin-top: 5px;
}

.container {
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin-top: 14px;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #f9bf3b;
}

.simple .title_big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.promo_text {
  margin-top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.promo_text .yellow_text {
  color: #f9bf3b;
  text-decoration: solid;
}

.promo .modal_btn {
  display: block;
  margin: 73px auto;
  width: 313px;
  height: 72px;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-family: "RobotoCondensed";
  font-size: 21px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.promo .arrow_text {
  margin-top: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.arrow_img {
  display: block;
  margin: 0 auto;
  margin-top: 4px;
  width: 29.99px;
  height: 18.99px;
  left: 945.99px;
  top: 721.99px;
}

.waiting {
  min-height: 607px;
  padding: 88px 0 75px 0;
  background: #efefef;
}

.waiting .wainting_header,
.finish .finish_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.finish .finish_header {
  color: #fff;
}

.waiting .waiting_arrow,
.finish .finish_divider {
  display: block;
  margin: 18px auto;
  width: 220px;
  height: 7px;
  left: 851px;
  top: 129px;
}

.waiting .waiting_subheader {
  margin-top: 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  align-items: center;
  text-align: center;
  color: #4a4a4a;
}

.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #4a4a4a;
}

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  margin-left: 390px;
  top: 61px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #299cbd;
}

.optimization .optimization_text {
  margin-left: 389px;
  margin-top: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}

.optimization .optimization_text span {
  font-weight: bold;
}

.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 450px;
  padding: 86px 0 80px 0;
  background: url("../img/bg/second_bg.png") center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 204px;
}

.finish .finish_wrapper .finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 118px;
  height: 118px;
  background: #b4e2ff;
  border-radius: 50%;
}

.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  color: #efefef;
}

.gift {
  min-height: 640px;
  padding: 86px 0 87px 0;
  background: #efefef;
}

.gift_img {
  display: block;
  margin: 0 auto;
}

.gift .gift_descr {
  margin-top: 42px;
  color: #252525;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

.gift .gift_btn {
  display: block;
  margin: 51px auto;
  width: 313px;
  height: 72px;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-family: "RobotoCondensed";
  font-size: 21px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.first_web {
  height: 433px;
}

.first_web .first_web_img {
  display: block;
  margin: 0 auto;
}

.first_web .first_web_text {
  margin-top: 36px;
  font-weight: 400;
  font-size: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
}

.first_web .first_web_big {
  margin-top: 30px;
  font-weight: 900;
  font-size: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #299cbd;
}

.first_web .first_web_text2 {
  margin-top: 24px;
  font-weight: 400;
  font-size: 23px;
  align-items: center;
  text-align: center;
  color: #4a4a4a;
}

.black {
  height: 169px;
  background: #1a1a1a;
  padding-top: 57px;
}

.black .black_support {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #888888;
}
